<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698826184039-ebhmj0thjgq2aj74jhfi5g33rb7otjci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698826184039-ebhmj0thjgq2aj74jhfi5g33rb7otjci</string>
	<key>API_KEY</key>
	<string>AIzaSyCI_U15b2GKd3CmSUazSZRKWS6vkYQWCzI</string>
	<key>GCM_SENDER_ID</key>
	<string>698826184039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fuse.seedbed</string>
	<key>PROJECT_ID</key>
	<string>fuse-wallet-2</string>
	<key>STORAGE_BUCKET</key>
	<string>fuse-wallet-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698826184039:ios:2becd900ee517d9a</string>
	<key>DATABASE_URL</key>
	<string>https://fuse-wallet-2.firebaseio.com</string>
</dict>
</plist>